
*{
    box-sizing: border-box;
}

body {
    font-family: Smythe;
    width: 100%;
    height: 100%;
    max-width: 460px;
    margin: auto;
} 

header {
    width: 100%;
    height: 167px;
    margin-left: 0
}

#sign {
    margin: 1em;
}

.item {
    display: flex;
    height: 30%;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #D2D2D2;  
}

.emoji {
    font-size: 79px;
    width: 85px;
    margin: auto;
    margin-left: 0;   
}

.menu-text {
    margin: auto;
    margin-left: 0px;
    width: 150px;

}

.add-btn {
    border-radius: 50px;
    border: 1.5px solid #DEDEDE;
    width: 50px;
    height: 50px;
    margin: auto;
    
}

.order-element-container {
    display: flex;
    justify-content: space-between;
}

.remove-btn {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #BBBBBB;
    border: none;
    height: 22px;
    margin: auto;
    background-color: white;
    margin-left: 0
}

.total-price-container {
    display: flex;
    flex-direction: row;    
}

#total-price {
    width: 100px;
    height: 10px;
    margin-left: 0
}

.total-price-num {
    width: 50px;
    height: 10px;
}

#hidden-form{
    display: none;
}

.hidden {
    display: none;
}

.form-container {
    display: flex;
    justify-content: center;
}

form {
    position: fixed;    
    top: 5em;
    bottom: 5em;
    background: #FFFFFF;
    border-radius: 4px;   
}

.user-detail-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 71px;
    border-radius: 3.88991px;
}

textarea {
    resize: none;
    margin: auto
}

.center {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 120px;
    background: #ECFDF5;
}

.center-title {
    text-align: center
}

.green-btn {
    border: none;
    color: white;
    width: 100%;
    height: 51.3px;
    background: #16DB99;
    border-radius: 3.88991px;
}

